openapi: 3.0.1
info:
  title: Health Gorilla FHIR R4 Binary RequestGroup API
  description: HL7 FHIR R4 REST API for the Health Gorilla health-data interoperability network. Provides access to patient records, person-authorized federated record retrieval across national exchange networks (QHIN / TEFCA), diagnostic (lab and radiology) ordering and results, clinical documents, and coverage/eligibility data. All requests require OAuth 2.0 bearer authentication.
  termsOfService: https://www.healthgorilla.com/terms-of-service
  contact:
    name: Health Gorilla Developer Support
    email: info@healthgorilla.com
    url: https://developer.healthgorilla.com
  version: R4
servers:
- url: https://api.healthgorilla.com/fhir/R4
  description: Production
- url: https://sandbox.healthgorilla.com/fhir/R4
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: RequestGroup
  description: Parent diagnostic orders nesting individual ServiceRequest tests.
paths:
  /RequestGroup:
    post:
      operationId: createRequestGroup
      tags:
      - RequestGroup
      summary: Submit a diagnostic order.
      description: Creates a RequestGroup parent order that nests one or more ServiceRequest resources (individual tests) for submission to a participating diagnostic laboratory or radiology partner.
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/RequestGroup'
      responses:
        '201':
          description: Created
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/RequestGroup'
    get:
      operationId: searchRequestGroups
      tags:
      - RequestGroup
      summary: Search RequestGroup orders.
      parameters:
      - $ref: '#/components/parameters/patient'
      - $ref: '#/components/parameters/count'
      responses:
        '200':
          description: A FHIR Bundle of RequestGroup resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
  /RequestGroup/{id}:
    get:
      operationId: readRequestGroup
      tags:
      - RequestGroup
      summary: Read a RequestGroup order by id.
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: OK
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/RequestGroup'
components:
  schemas:
    RequestGroup:
      type: object
      properties:
        resourceType:
          type: string
          example: RequestGroup
        id:
          type: string
        status:
          type: string
          example: active
        intent:
          type: string
          example: order
        subject:
          type: object
        author:
          type: object
        action:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
                description: Reference to a nested ServiceRequest.
    Bundle:
      type: object
      properties:
        resourceType:
          type: string
          example: Bundle
        type:
          type: string
          example: searchset
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  parameters:
    id:
      name: id
      in: path
      required: true
      description: The logical id of the resource.
      schema:
        type: string
    count:
      name: _count
      in: query
      description: Number of results per page.
      schema:
        type: integer
    patient:
      name: patient
      in: query
      description: Reference to the subject Patient (e.g. Patient/{id}).
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 bearer access token. Obtain a token using the client credentials issued during onboarding via the Health Gorilla OAuth 2.0 token endpoint, then pass it as `Authorization: Bearer {token}`.'
